:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  min-height: 90vh; /* Full height of the viewport */
  padding: 10px; /* Add some padding around the content */
}

.navbar {
  position: fixed;               /* Fixes the navbar at the bottom */
  bottom: 0;                     /* Aligns it to the bottom of the viewport */
  left: 0;
  width: 100%; 
  height: 40px;                  /* Spans the full width */
  display: flex;                 /* Flexbox for centering items */
  justify-content: space-between; /* Space between items to make it more mobile-friendly */
  flex-wrap: wrap;               /* Allows items to wrap onto the next line if needed */
  background-color: #333;        /* Background color */
  padding-top: 2px;
}

.nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item svg{
  font-size: 22px;
}
.nav-item span {
  font-size: 9px;
}

.navbar a {
  color: white;                  /* Text color */
  padding: 10px 15px;            /* Space around each link */
  text-decoration: none;         /* Removes underline */
  font-size: 16px;               /* Adjust font size for smaller screens */
  flex: 1;               /* Make links responsive by growing and shrinking */
  text-align: center;            /* Center text */
  box-sizing: border-box;        /* Ensure padding and borders are included in the width */
}

.nav a.active {
  background-color: #555; /* Background color for active tab */
  color: white;           /* Text color for active tab */
  border-radius: 5px;     /* Optional rounded corners */
}

.navbar a:hover {
  background-color: #555;        /* Hover effect */
  color: #ddd;
  border-radius: 5px;            /* Optional rounded corners */
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  .navbar a {
    font-size: 12px;             /* Slightly reduce font size on smaller screens */
    padding: 3px 8px;          /* Adjust padding to fit better on small screens */
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Register Div Styling */


.registerDiv {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 600px; /* Limit width on larger screens */
  box-sizing: border-box; /* Include padding and borders in the element's width */
  text-align: center;
  margin: 0 auto;
}

.registerDiv h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.registerDiv h3 {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #555;
}

.registerDiv p {
  font-size: 1em;
  color: #333;
  margin-bottom: 5px;
  line-height: 1.5;
  text-align: left;
}

/* Form Styling */
.registerDiv form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between inputs */
}

.registerDiv label {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: #333;
}

.registerDiv input[type="email"],
.registerDiv input[type="text"],
.registerDiv input[type="password"],
.registerDiv input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box; /* Ensures inputs don't exceed the container */
}

.registerDiv button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.registerDiv button:hover {
  background-color: #555;
}

/* Alternative Link Styling */
.registerDiv .alternative {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #333;
}

.registerDiv .alternative:hover {
  color: #555;
  text-decoration: underline;
}

/* Media Queries for Smaller Devices */
@media (max-width: 600px) {
  
  .registerDiv {
    padding: 15px;
  }

  .registerDiv input[type="email"],
  input[type="text"],
  input[type="password"] {
    font-size: 0.9em;
  }

  .registerDiv button {
    padding: 10px;
    font-size: 0.9em;
  }
}

.edit-profile input[type="email"],
.edit-profile input[type="text"],
.edit-profile input[type="password"],
.edit-profile input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box; /* Ensures inputs don't exceed the container */
}

.edit-profile button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  width: 75%;
  margin-top: 20px;
  margin-left: auto;
}

.edit-profile button:hover {
  background-color: #555;
}

.edit-profile {
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 600px; /* Limit width on larger screens */
  box-sizing: border-box; /* Include padding and borders in the element's width */
  text-align: center;
}

.edit-profile h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: white;
}

/* Form Styling */
.edit-profile form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between inputs */

}

.edit-profile label {
  text-align: left;
  font-size: 1em;
  color: white;
  margin: 8px;
}

.activity-tracker-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.activity-tracker-header{
  display: flex;
  justify-content: center;
  height: 17%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #242424;
}

.activity-nav button {
  flex: 1; /* Makes each button take equal space */
  padding: 10px 0;
  border: none;
  cursor: pointer;
  text-align: center;
}

.activity-tracker-title{
  position: fixed;
  top: 5%;
  font-size: 1.5em;
}

.activity-nav{
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 12%;
  font-size: 12px;
}

.activity-nav .active {
  background-color: #555; /* Background color for active tab */
  color: white;           /* Text color for active tab */
  border-radius: 5px;  
}

.tab-content {
  padding: 20px;
  margin-top: 60px; /* Default for smaller screens like mobile */
}

@media (max-width: 600px) {
  .tab-content {
    margin-top: 35%;
  }
}

/* Optional styling to prevent content from going off-screen */
.activity-card {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #878787;
  border-radius: 10px;
}

.activity-card h2,
.activity-card h3,
.activity-card p{
  margin: 4px;
}

.activity-card h2{
  font-size: 10px;
}


