.bio {
    height: 13rem; 
}

.btn-file {
    border: solid 1px #D9D9D9;
}

.content {
    margin: 2rem 0;
    padding: 0 2rem;
}

.content > * {
    margin: 1rem;
}

.content > *:not(form){
    display: flex;
    justify-content: center;
}

.default-img > * {
    width: 4rem;
    height: 4rem;
}

.edit-picture {
    display: grid;
    justify-content: center;
}

#fileInput {
    display: none;
}

.profile-functions {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
