.new-goal-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.page-title {
    font-size: 32px;
    color: black;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.form-group input, 
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.tasks-section {
    text-align: left;
    margin-top: 15px;
}

.task-input-group {
    margin-bottom: 10px;
}

.add-task-btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #5e4b56;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

.submit-btn {
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    color: white;
    background-color: #007bff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: purple;
}
