.back-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.back-button-image {
    width: 24px; /* Adjust the size as needed */
    height: 24px;
}
