.dropdown {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.dropdown-menu {
    border-radius: 8px;
}

select {
    border: 0;
    background: transparent;
    width: 350px;
    height: auto;
    border: 1px solid #d9d9d9;
}