.header-container {
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.header-month {
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

.header-budget {
  font-size: 16px;
  color: #8a8585;
  padding: 0;
  margin-top: -200px;
  margin-bottom: 0;
  display: inline-block;
  width: 40%; /* Set the width here */
  text-align: center;
  background-color: rgb(235, 235, 237);
  border-radius: 30px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #95ccff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  z-index: 100;
  border-radius: 10px;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d0d8f0;
}

.dropdown-menu li:hover {
  background-color: #659adf;
}

@media screen and (max-width: 768px) {
    .header-month {
        font-size: 2rem;
    }
  }

@media screen and (max-width: 480px) {
    .header-month {
        font-size: 2rem;
    }
}
