.text-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: white;
    width: auto;
    height: 80%;
}

.button:hover {
    cursor: pointer;
}

.text {
    text-align: right;
    margin-left: 5em;
}