.text-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    background-color: white;
    width: auto;
    height: 80%;
}

