.timer-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.timer-container h3{
  margin: 0;
}
.timer-bar {
  height: 20px;
  color: black;
  background-color: white;
  transition: width 1s linear;
  border-radius: 5px;
  margin-bottom: 10px;
}

.timer-text {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.timer-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.timer-button:hover {
  background-color: #45a049;
}
