.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo-link {
  color: #FF385C;
  font-size: 1.75rem;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__profile-wrapper {
  position: relative;
  cursor: pointer;
}

.header__profile {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 0.25rem 0.5rem;
  gap: 0.4rem;
  background-color: #fff;
  margin-right: 1rem;
}

.header__profile-menu-icon {
  font-size: 1.2rem;
  color: #555;
}

.header__profile-icon {
  font-size: 1.5rem;
}

.header__auth {
  display: flex;
  gap: 1rem;
}

.header__auth-link,
.header__auth-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  border: 2px solid transparent;
}

.header__auth-link {
  color: #FF385C;
  border: 2px solid #FF385C;
}

.header__auth-link:hover {
  color: #fff;
  background-color: #FF385C;
}

.header__auth-button {
  color: #fff;
  background-color: #FF385C;
  border: 2px solid #FF385C;
}

.header__auth-button:hover {
  background-color: #e0304b;
  transform: scale(1.05);
}
