.Popup-box {
    border: solid 1px black;
    margin: auto;
    width: 300px;
    height: 250px;
    margin-bottom: 2em;
    position: relative;
}

h2 {
    text-align: center;
    margin: 2em;
    font-weight: bold;
}

.Content-button {
    text-align: right;
    padding: 15px;
}

.delete-link {
    margin-left: 30%;
    margin-bottom: 2em;
    text-align: left;
}

.Popup-title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
    font-weight: bold;
}

.Popup-text {
    text-align: left;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.Deactivate-yes {
    border: solid 1px black;
}

.Close-button {
    border: solid 1px black;
    position: absolute;
    right: 0;
}