.Goal h1 {
    text-align: center; 
    margin-bottom: 20px; 
  }
  
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
  }
  
  .grid-item1, .grid-item2, .grid-item3 {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  
  .grid-item3 {
    grid-column: span 2;
  }
  
  
  .grid-item3 form {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
  }
  
  .grid-item3 form label {
    margin-bottom: 10px; 
  }

  .button {
      background-color: rgb(40, 125, 222);
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  .goals-list,.goal-item{
    margin-left: 10px;     
    margin-right: 5px;
  }

  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr; 
    }
  
    .grid-item3 {
      grid-column: span 1; 
    }
  }
  