.home-container {
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 70px;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

h2 {
  font-size: 1.2em;
}

/* Sections */
.budget-overview,
.notifications,
.transactions {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.budget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-transaction-button {
  background-color: rgb(40, 125, 222);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Total Budget */
.progress-bar-container {
  border-radius: 10px;
  overflow: hidden;
  height: 30px;
  margin-bottom: 15px;
  border: 1px solid #d3d3d3;
}

.progress-bar {
  height: 100%;
  line-height: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
  min-width: 0;
  background-color: #487bf1;
}

.under-limit {
  background-color: #4caf50;
}

.over-limit {
  background-color: #f44336;
}

/* Category Progress Bars */
.budget-details {
  margin-top: 0px;
}

.category-progress {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.category-progress p {
  margin: 0 0 4px;
  font-size: 0.9em;
  font-weight: bold;
}

.category-progress .progress-bar {
  height: 15px;
  line-height: 15px;
  border-radius: 5px;
  font-size: 0.8em;
  border: 1px solid #d3d3d3;
  width: 100%;
}

/* Edit Budget */
.edit-budget {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.edit-budget input {
  width: 100px;
  padding: 5px;
}

/* View Breakdown */
.view-breakdown {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #487bf1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  background-color: transparent;
  padding: 0;
}

.view-all-btn:hover {
  background-color: rgb(186, 184, 184);
}

.all-categories {
  margin-top: 15px;
}

/* Notifications */
.notifications ul {
  list-style-type: none;
  padding: 0;
}

.notifications li {
  background-color: #fff3cd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Transactions */
.transactions-link {
  color: #487bf1;
  text-decoration: none;
}

.transactions-link:hover {
  color: #345e9a;
}

.transaction-list {
  list-style: none;
  padding: 0;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.transaction-item.header {
  font-weight: bold;
  background-color: #f2f2f2;
  border-top: 1px solid #e0e0e0;
}

/* Columns */
.transaction-item span {
  flex: 1;
  text-align: left;
}

.transaction-item span:nth-child(3),
.transaction-item span:nth-child(4) {
  text-align: right;
  font-weight: bold;
}

.transaction-item:last-child {
  border-bottom: none;
}

.transaction-item:hover {
  background-color: #f0f0f0;
}
.button {
    background-color: rgb(40, 125, 222);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

#add-transaction-button {
  font-size: 20px;
  color: #487bf1;
  background-color: white;
  border: 2px solid  #487bf1;
  border-radius: 50%;
  width: 40px; 
  height: 40px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .budget-overview,
  .notifications,
  .transactions {
    margin: 10px 0;
    padding: 15px;
  }

  .budget-details p,
  .notifications li,
  .transaction-item span {
    font-size: 16px;
    
  }

  .home-container {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@media screen and (max-width: 480px) {
  .budget-details p,
  .notifications li,
  .transaction-item span {
    font-size: 14px;
  }

  .progress-bar-container {
    height: 25px;
  }
  .home-container {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
