.locations-page {
    padding: 20px;
}

.locations-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding: 2rem 1rem;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.add-location-link {
    color: #FF385C;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
}

.add-location-link:hover {
    color: #e0304b;
}

.toggle-members-button {
    color: #FF385C;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: underline;
    text-decoration: none;
    font-size: 16px;
}
  
.toggle-members-button:hover {
    color: #e0304b;
}
  

.locations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
}

.status-dropdown {
    padding: 0.75rem;
    font-size: 1rem;
    border: 2px solid #FF385C;
    border-radius: 25px;
    cursor: pointer;
    color: #333333;
    background-color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.status-dropdown:hover {
    background-color: #FF385C;
    color: #ffffff;
}

.status-dropdown:focus {
    outline: none;
    border-color: #FF385C;
    box-shadow: 0 0 5px rgba(255, 56, 92, 0.5);
}

.status-dropdown option {
    padding: 10px;
    font-size: 1rem;
    color: #333333;
    background-color: #ffffff;
}
