.recurring-payments-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}
 
.recurring-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
 
.add-payment-btn {
  font-size: 1rem;
  color: #d3d6dc;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #08aa39;
  border-radius: none;
  transition: background-color 0.3s;
}
 
.add-payment-btn:hover {
  background-color: #1be38c;
}
 
.payments-list {
  list-style-type: none;
  padding: 0;
}
.payment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
}
 
.payment-details {
  display: flex;
  width: 100%;
}
 
.payment-name,
.payment-category,
.payment-amount,
.payment-due-date {
  flex: 1;
  min-width: 150px; /* Adjust the width as needed */
  padding: 0 10px;
  text-align: left;
}
 
.payment-amount {
  text-align: right;
}
 
/* Button Styling */
.edit-payment-btn,
.delete-payment-btn {
  margin: 10px 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
.edit-payment-btn {
  background-color: #ffc107;
  color: white;
}
 
.delete-payment-btn {
  background-color: #dc3545;
  color: white;
}
 
.payment-item {
  position: relative; /* Ensure relative positioning for proper alignment of buttons */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
 
.payment-item:hover .edit-payment-btn,
.payment-item:hover .delete-payment-btn {
  display: block; /* Show buttons only when hovering over the item */
}