.transactions-page {
    padding: 20px;
  }
  
  .back-button {
    background: none;
    border: none;
    color: #487bf1;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .back-button:hover {
    text-decoration: underline;
  }
  
  .transaction-list {
    list-style: none;
    padding: 0;
  }
  
  .transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f2f2f2
  }
  
  .transaction-item.header {
    font-weight: bold;
    background-color: #f2f2f2;
  }
  
  .transaction-item span {
    flex: 1;
  }
  
  .transaction-item:hover {
    background-color: #f0f0f0;
  }
  