.trip-details {
    width: 80%; 
    max-width: 800px;
    margin: 0 auto; 
    text-align: left; 
}

.trip-details__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #FF385C;
}

.trip-details__description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666;
}