/*html, body {
  overflow-x: hidden;
}*/

.recipePage {
  padding: 20px;
  background-color: #FFEEAD;
  box-sizing: border-box;
  padding-bottom: 50px;
  justify-content: center;
  border-radius: 5px;
  border: solid #8dbda6 1px;
}

.centered-header {
  box-sizing: border-box;
  text-align: center;       /* Center the text horizontally */
  position: relative;       /* Positioning the header */
  top: 0;                   /* Place it at the top */
  left: 50%;                /* Start positioning from the horizontal center of the page */
  transform: translateX(-50%);  /* Move the element to truly center it */
  width: 100%;              /* Ensure it takes the full width */
  margin: 0;
  padding: 20px;            /* Add some padding around the header */
  font-size: 2em;           /* Adjust the font size */
  font-weight: bold;        /* Make the header bold */
  color: #242424;
}


.recipeHeader{
  box-sizing: border-box;
  justify-content:left;
  font-size: 2em;
  font-style: italic;
  margin: 0;
  padding: 10px;
  color: #242424;
  text-align: center;
}

.recipeDashboardInner {
  box-sizing: border-box;
  margin: 0 auto;
}

.recipeCard{
  width: 100%;
  margin-bottom: 15px;
  border: 2px solid #8dbda6;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.recipePage img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  margin: 0;
  border: 0;
  border-radius: 5px;
  padding: 0;
  position: relative; /* Keeps it in normal document flow */
}

.recipeText {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: flex-start;
  color: #242424;
}

.recipeCard h1{
  position: relative;
  margin: 2%;
  top: 1%;
  text-align: left;
  font-size: 1.5em;
}

.recipeCard p{
  position: relative;
  margin: 2%;
  text-align:left;
}

.popup-overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.8); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5%;
  }

  .popup-overlay h1{
    position: relative;
    color:black;
    font-size: 3em;           /* Adjust the font size */
    font-weight: bold;        /* Make the header bold */
    width: 100%;
  }

  .popup-overlay img{
    
    object-fit: cover;
    width: 50%;
    height: auto;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0;
    border: 0;
    border-radius: 5px;
    padding: 0;
    position: relative; /* Keeps it in normal document flow */
    
    
  }
  .popup-overlay p{
    color:black;
    font-size: 1.2em;           /* Adjust the font size */
    
  }


  .recipes-ingredients-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .recipes-ingredients-list li {
    padding: 0.5rem 0;
    width: 80%;
    color: #242424;
    background: #fef7da;
    margin: 10px auto;
    border-radius: 5px;
    border: solid 1px 

  }

  .popup-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #FFEEAD;
    border-radius: 8px;
    width: 100%;
    height: 200vw;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;
    padding: 15px;
  
    /* Initially positioned off-screen */
    transform: translateY(100%);
    opacity: 0;
  
    /* Animation applied */
    animation: slideInFromBottom 0.5s ease-out forwards;
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .popup-content h2, .popup-content p {
    color: black;
    margin: 1%;
  }

  .popup-content div {
    margin-top: 5%
  }

  .close-button:hover {
    background-color: #ff2222;
  }
  