/*html, body {
  overflow-x: hidden;
}*/

.recipePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.centered-header {
  box-sizing: border-box;
  text-align: center;       /* Center the text horizontally */
  position: relative;       /* Positioning the header */
  top: 0;                   /* Place it at the top */
  left: 50%;                /* Start positioning from the horizontal center of the page */
  transform: translateX(-50%);  /* Move the element to truly center it */
  width: 100%;              /* Ensure it takes the full width */
  margin: 0;
  padding: 20px;            /* Add some padding around the header */
  font-size: 2em;           /* Adjust the font size */
  font-weight: bold;        /* Make the header bold */
}

.recipeDashboardOuter {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 20px;
}

.recipeHeader{
  box-sizing: border-box;
  justify-content:left;
  font-size: 2em;
  font-style: italic;
  margin: 0;
  padding: 10px;
}

.recipeDashboardInner {
  box-sizing: border-box;
}

.recipeCard{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  position:relative;
  border: black;
  border-style: solid;
  height: 300px;
}

.recipeImg{
  box-sizing: border-box;
  width: 100%;
  height: 40%;
  flex-shrink: 0;
  position: relative; /* Keeps it in normal document flow */
  justify-content: flex-start;
}

.recipeImg img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  margin: 0;
  border: 0;
  padding: 0;
  position: relative; /* Keeps it in normal document flow */
}

.recipeText {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: flex-start;
}

.recipeCard h1{
  position: relative;
  margin: 2%;
  top: 1%;
  text-align: left;
  font-size: 1.5em;
}

.recipeCard p{
  position: relative;
  margin: 2%;
  text-align:left;
}

.popup-overlay {
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0,0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5%;
  }

  .popup-overlay h1{
    position: relative;
    color:black;
    font-size: 3em;           /* Adjust the font size */
    font-weight: bold;        /* Make the header bold */
    width: 100%;
  }

  .popup-overlay img{
    color:black
    
  }
  .popup-overlay p{
    color:black;
    font-size: 1.2em;           /* Adjust the font size */
    
  }
  .popup-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgb(243, 238, 238);
    border-radius: 8px;
    width: 95%;
    height: 200vw;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom:2%
  }
  
  .popup-content h2, .popup-content p {
    color: black;
    margin: 1%;
  }

  .popup-content div {
    margin-top: 5%
  }
  
  .close-button {
    position: fixed;
    text-align: center;
    top: 20px; /* Distance from the top of the viewport */
    right: 20px; /* Distance from the right side of the viewport */
    padding: 0;
    margin: 0;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1%;
    font-weight: bold;
  }

  .close-button:hover {
    background-color: #ff2222;
  }
  