name: Integration Tests
on:
  push:
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:
    inputs:
      branch:
        description: Branch to test the workflow
        required: true
        default: master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install dependencies
        run: |
          cd back-end
          npm install
      - name: Inject environment variables
        run: |
          echo "API_URL=http://localhost:8080
                MONGODB_URI={{ secrets.MONGO_URI_ZC2398 }}
                FIREBASE_API_KEY={{ secrets.FIREBASE_API_KEY }}
                FIREBASE_AUTH_DOMAIN={{ secrets.FIREBASE_AUTH_DOMAIN }}
                FIREBASE_PROJECT_ID={{ secrets.FIREBASE_PROJECT_ID }}
                FIREBASE_STORAGE_BUCKET={{ secrets.FIREBASE_STORAGE_BUCKET }}
                FIREBASE_MESSAGING_SENDER_ID={{ secrets.FIREBASE_MESSAGING_SENDER_ID }}
                FIREBASE_APP_ID={{ secrets.FIREBASE_APP_ID }}
                FIREBASE_MEASUREMENT_ID={{ secrets.FIREBASE_MEASUREMENT_ID }}" > back-end/.env
      - name: Run vulnerability scan
        run: |
          cd back-end
          npm audit --audit-level=moderate
      - name: Run tests
        run: |
          cd back-end
          npm run test:ci
        continue-on-error: true
      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: jest-results
          path: back-end/junit.xml
      - name: Report test results
        uses: dorny/test-reporter@v1
        with:
          name: Jest Tests
          path: back-end/junit.xml
          reporter: jest-junit

